//Top-bar
.top-bar {
  margin-bottom: 0px;
}

//Row 
.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

//Navigation 


//Button



//Horizontal Line Divider 

.hr{
	
	margin-bottom: 0px;
	
}


//Content Area 




//Home Page

.home-page{
	   height:100vh;
	   //background: no-repeat center center fixed;
       background-image: url('https://download.unsplash.com/photo-1422479516648-9b1f0b6e8da8');
	   background-size: cover;
       background-repeat: repeat-y; /* for vertical repeat */
       background-repeat: repeat-x; /* for horizontal repeat */
	   background-height: auto;
	   background-width: auto;

	   
}


//Gutter



//Table
.result:hover {
    background-color: #F5A400;
}


//Map
#map_canvas { 
     height: 800px;
     width: 100%;
     background-color: #cccccc;
}

img,
object,
embed {
  max-width: none !important;
  height: auto;
}